/*@import '~antd/dist/antd.dark.min.css';*/
@import '~antd/dist/antd.compact.css';


.ant-dropdown-button {
  margin: 0 8px 8px 0;
  width: 100px;
}

.logo {
  width: 190px;
  height: 60px;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  float: left;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

th.column-number,
td.column-number {
  text-align: right !important;
}

.bw {
  background-color: #2b2b2b;
}

.common_IconBar .icon-bar {
  display: flex;
  opacity: .95;
  flex-wrap: nowrap;
  margin: 0;
  white-space: nowrap;
  line-height: 28px;
  z-index: 1;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

a {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
